.floatPanel {
  position: absolute;
  top: 0;
  max-width: 25rem;
  width: 100%;
  bottom: 0;
  background: blue;
  transition: all 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  padding: 0 2rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
