.wrapper {
  display: flex;
  width: 100%;
  position: relative;

  &right {
    flex-direction: row-reverse;
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}

.panel {
  width: 100%;
  max-width: 25rem;
}
