$input-disabled: #8ebdec;
$input-error: #ff0000;
$input-background-grey: #eef5f3;
$input-background-white: #ffffff;
$button-blue: #0066cc;
$button-white: #ffffff;
$button-spinner: #ffffff33;
$button-shadow: #000000;
