@import '../../../variables.scss';

.inputWrapper {
  position: relative;
  font-size: 0;
  font-weight: normal;
}

.input {
  font-size: 3rem;
  text-align: center;
  padding: 0px 14px;
  height: 60px;
  border-radius: 5px;
  border: none;
  border: 1px solid $primary;

  &Disabled {
    border: 1px solid $disabled;
    color: $disabled;
  }

  &Invalid {
    border: 1px solid $error !important;
    outline: none;
    color: $error;
  }
}

.inputLabel {
  font-size: 1.5rem;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.2s;
  font-weight: 500;
  pointer-events: none;

  &Active {
    top: 0;
    background: #ffffff;
    padding: 0 10px;
    left: 1rem;
    font-size: 1rem;
  }

  &Invalid {
    color: $error;
  }

  &Disabled {
    color: $disabled;
  }
}
