.wrapper {
  display: flex;
  width: 100%;
  position: relative;

  &right {
    flex-direction: row-reverse;
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}

.panel {
  width: 100%;
  max-width: 25rem;
}

.floatPanel {
  position: absolute;
  top: 0;
  max-width: 25rem;
  width: 100%;
  bottom: 0;
  background: blue;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}
